# IDE specific files
.idea/

# Build artifacts and compiled Python files
dist/
build/
TTS/vits/monotonic_align/monotonic_align/
TTS/vits/monotonic_align/build/
TTS/vits/monotonic_align/*.pyd
__pycache__/
*.pyc

# Logs and temporary files
*.log
/tmp/*

# Specific files
*.ipynb
output.wav
/SocketServerPG.py
/SocketServerPG.ipynb
test*
/TTS/vits/output.wav
updataRequriement.py
GPT/ERNIEBotAPI_Demo.py

# Model files
ASR/resources/models/am.mvn
ASR/resources/models/model.onnx
ASR/resources/models/token_list.pkl
SentimentEngine/models/paimon_sentiment.onnx
TTS/models/*

# Python cache files
**/__pycache__/